
.teamsContainer{
  display: flex;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.teamContainer{
  border: 50px;
  background-color: orange;
}
.titleTeamsContainer{
  width: 100%;
  height: 100px;
}
.bottom-righ{
  position: absolute;
  bottom: 8px;
  right: 16px;  
}

.oneTeamContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.atributesContainer{
  font-size: 20px;
}
